<section class="blog-list mtb-40">
  <div class="container">
    <h1>Articles List</h1>
    <button (click)="openModal()" class="btn btn-outline-primary">
      Add New Article
    </button>
    <div class="row">
      <div class="col-md-8">
        <div *ngFor="let article of articles" class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img [src]="article.imageUrl" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>{{ article.title }}</h3>
                <p>
                  by
                  <span
                    >{{ article.author }} on
                    {{ article.createdAt.slice(0, 10) }}</span
                  >
                </p>
                <p>{{ article.description.slice(0, 30) }}.....</p>
                <a [routerLink]="['/articles/', article._id]" class="readmore"
                  >Read more...</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
